extends layout

block content
  h1 #{name}
  p Welcome to the #{name} #{product} #{version}
  - console.log(bc.initBlockchain);
  - console.log(bc.initBlockchain());
  - console.log(bc.isConnected());
  - console.log(bc.getAccounts());
  - console.log(bc.isSyncing());
